[2020-08-04 09:41] pat1 opened #1 "descrizioni delle feature B, livello, trange"
Abbiamo trovato  le "descrizioni" delle feature  B, livello, trange ecc in diversi file javascript, vorremmo evitare di utilizzarli come mappe poiché ogni variazione/aggiunta di feature porterebbe inevitabilmente a modificare questi file.
Qualora questi risultino "immutabili" potremmo procedere come avete già fatto, in caso contrario vorremmo sapere se vi sono api o librerie che restituiscono tali

[2020-08-04 09:55] pat1 commented on #1
Abbiamo presente il problema che era stato temporaneamente aggirato con mappe statiche riscritte in js.
Ho aperto una issue su dballe relativa alle API per avere l'elenco delle B, level, trange
https://github.com/ARPA-SIMC/dballe/issues/234

La fonte primaria per le B risulta questo file:
/usr/share/wreport/dballe.txt
distribuito con dballe
Ritengo la sua lettura diretta una soluzione non ottimale

[2020-08-04 10:06] pat1 opened #2 "quale formato utilizzare per borinud (dbajson, jsonline, geojson) ?"
* dbajson : json puro, immediatmente leggibile da js
* jsonline : non json puro, in alcuni casi fa risparmiare memoria
* geojson : json puro, immediatamente utilizzabile con alcune API js quali leaflet, ma al momento non include gli attributi e risulta più voluminoso

Bisogna decidere quale formato utilizzare e valutare se includere gli attributi in geojson.

[2020-08-04 10:20] fabiodepas commented on #1
Avevamo individuato il file "/usr/share/wreport/dballe.txt" poichè indicato nella documentazione, stiamo procedendo momentaneamente con le mappe json già presenti e con le utility create da voi, la build automatica delle mappe a questo punto potrebbe essere un buon compromesso per non attendere l'esposzione dei WS di dballe. Grazie.

[2020-08-04 10:42] fabiodepas commented on #2
Abbiamo gia creato il parser delle jsonlin,  nei test effettuati questo codice sembra renderle leggibili correttamente:
[code]
Che poi è la traduzione del vostro codice python:
`json.dumps(self.jsondict(),default=json_serial)+"\n"`

Dato che l'utility di conversione l'abbiamo già realizzata, se effettivamente con jsonline si risparmia in fase di trasferimento meglio addossare al client questo picc

[2020-08-04 10:53] pat1 commented on #2
con jsonline non si risparmia in trasferimento, se devo trasferire 100Mb di dati sempre 100Mb rimangono; è il client che in fase di elaborazione può lavorare in "stream" messaggio per messaggio, mentre dbajson necessita di 100Mb per memorizzare la risposta più tutto lo spazio per decodificare tutte le strutture e tenerle in memoria tutte.
La conversione che fate mi pare comporti solo oneri aggiunt

[2020-08-04 11:21] fabiodepas commented on #2
Allora anzichè tradurlo,  potremmo eseguire il parse riga per riga, resta inteso che un json seppure enorme a causa delle strutture di supporto, ha delle utility per agevolare le ricerche.
In alternativa per non scorrere continuamente tutta la risposta "testuale" potremmo utilizzare ad esempio un approccio posizionale:
-creare diverse liste, una per ciascuna feature
-ricercare nella prima lista la

[2020-08-04 12:19] pat1 commented on #2
io continuo ad essere dell'idea che qui jsonline non abbia nessuna utilità ...
l'unica differenza è che il server risponde con StreamingHttpResponse invece che con HttpResponse che gli fa risparmiare un po' di memoria, ma nei summaries poca poca

Questa è una vostra scelta implementativa.
Strategica è la scelta di mantenere un summaries completo in memoria e filtrarlo all'occorrenza o richiederlo

[2020-08-04 14:13] fabiodepas commented on #2
al summaries credo tu possa applicare tutti filtri necessari:

L'idea iniziale era quella di utilizzare le api, ma sono troppo lente adesso, credo dobbiamo che per provare  con questo metodo dobbiamo apsettare perchè qualsiasi chiamata la prima volta mi cosa 20 secondi e per dei filtri dinamici non penso sia l'ideale. Stiamo valuando eventuali  alternative.

[2020-09-01 09:47] fabiodepas opened #3 "Stili grafici su diverse tipologie di feature"
Mediante flask, skinnywms e magics abbiamo realizzato un wms, abbiamo eseguito diversi test di visualizzazione con diversi grib, resta da  capire ora  in base alla tipologia di feature da mostrare quale specifico stile grafico applicare.

[2020-09-01 12:03] pat1 opened #4 "Integrazione continua"
Integrazione continua
Lo sviluppo del software dovrà essere corredato da unit tests.
Quando sia possibile ogni issue aperta su github dovrà essere accompagnata da test automatici.
Ad ogni commit dovranno essere eseguiti, sulla piattaforma che ospita il codice, i test automatici.
Se i test automatici passano, il file spec del pacchetto dovrà essere inviato a Copr per la
pacchettizzazione automatica

[2020-09-01 12:33] pat1 opened #5 "cosudo dovrebbe essere una app django indipendente"
Ho visto che è stato effettuato un fork di tutto il progetto rmap che comprende firmware per microcontrollori etc.
Forse non specificata nel capitolato perchè sottointesa e a noi evidente, lo sviluppo era richiesto per una APP django eventualmente da integrare in rmap o in altri web server.
E' possibile che l'app cosudo richieda alcune app del pacchetto RMAP per sfruttare se necessario alcune funz

[2020-09-01 12:53] fabiodepas commented on #5
Ristrutturiamo il progetto così da isolare le modifche in una nuova app.In  realtà abbiaamo clonato rmap poichè volevamo dedicare  una carlella al wms in flask.

[2020-09-01 16:49] pat1 commented on #1
come discusso in:
https://github.com/ARPA-SIMC/dballe/issues/234
l'unica possibilità è far generare un mappa in js per la tabella B al build di dballe che è la fonte primaria di tale tabella.
Non sono sicuro che tale tabella distribuita in /usr/share/dballe sia immediatamente utilizzabile da django.
Se questa strada è percorribile richiedo tale generazione in dballe.

[2020-09-03 13:49] fabiodepas opened #8 "Dowload GRIB arkimet con API python"
Per il servizio WMS i dati in formato GRIB saranno gestiti mediante Arkimet, come da capitolato si  richiede che:
"L’accesso ai dati dovrà essere realizzato tramite API python del pacchetto python descritte a https://arpa-simc.github.io/arkimet/python/index.html".
Nella descrizione della funzione "query_data" (https://arpa-simc.github.io/arkimet/python/arkimet.dataset.html#) vi è un modo per scari

[2020-09-03 14:39] edigiacomo commented on #8
[code]

Al posto di un file si può usare qualsiasi oggetto file-like (o altro, si veda https://arpa-simc.github.io/arkimet/python/arkimet.dataset.html#arkimet.dataset.Reader.query_bytes)

[2020-09-03 14:51] fabiodepas commented on #8
Perfetto non ci era  chiaro se il formato restituito dalla funzione "query_bytes"  fosse un grib. Grazie

[2020-09-03 14:51] #8 closed, assigned to nobody

[2020-09-07 09:25] fabiodepas opened #10 "Permessi per aggiungere i secrets"
Necessitiamo dell'acccesso con poteri magori per poter aggiungere i  secrets sugit nel  repository cosudo

[2020-09-07 09:44] edigiacomo commented on #10
Pare servano i permessi di admin sul repository per aggiungere secrets: https://docs.github.com/en/actions/configuring-and-managing-workflows/creating-and-storing-encrypted-secrets#creating-encrypted-secrets-for-a-repository

@pat1 come referente del progetto ti chiedo conferma prima di procedere.

[2020-09-08 12:17] pat1 commented on #10
visto che sono ignorante posso chiedere a cosa servono i secrets ?

[2020-09-08 12:26] fabiodepas commented on #10
E' uno strumento messo a disposizione da git per archiviare password o chiavi di accesso in modo criptato, esempio per le chiavi di pyInstaller, poichèse fossero visibili a tutti, tutti bse ne potrebero appropriare ed  utilizzarle.
https://git-secret.io/

[2020-09-08 12:31] pat1 commented on #10
Grazie della risposta, ma nello specifico a cosa dovrebbero servire. Quali password dovreste memorizzare sul git pubblico?

[2020-09-08 13:14] edigiacomo opened #14 "Elenco dei parametri delle previsioni per WMS"
Arpae deve fornire l'elenco dei parametri da mettere a disposizione per la visualizzazione. Per ogni prodotto, verrà fornita una query arkimet per identificare ed estrarre quei dati.

[2020-09-08 14:03] #10 closed, assigned to fabiodepas

[2020-09-09 09:16] gianpieropa commented on #4
Ho richiesto l'abilitazione di travis per il repository cosudo, attendo che la accettiate.

[2020-09-09 09:20] edigiacomo commented on #4
Abilitato

[2020-09-09 11:15] gianpieropa commented on #4
Per quanto riguarda la pubblicazione su copr, devo utilizzare il seguente [repository](https://copr.fedorainfracloud.org/coprs/simc/stable/ )? E nel caso dove posso reperire il file di configurazione da utilizzare con copr-cli?

[2020-09-09 11:27] edigiacomo commented on #4
Il token possiamo aggiungerlo noi, chiedo però a @pat1 in quale repository Copr pensava di mettere il pacchetto. Proposte:
* https://copr.fedorainfracloud.org/coprs/pat1/rmap/
* https://copr.fedorainfracloud.org/coprs/simc/stable: eviterei finché siamo in fase di sviluppo, ma direi assolutamente no se `cosudo` dipende da pacchetti in `pat1/rmap` (dipendenza ciclica: `pat1/rmap` dipende da `simc/st

[2020-09-09 11:52] pat1 commented on #4
Una soluzione potrebbe essere di fare un repo dedicato che chiede pat1/rmap.
Non ci vedo controindicazioni.
Se ce ne sono allora visto che credo che cosudo dipenda da pacchetti in rmap  per il momento propongo:
https://copr.fedorainfracloud.org/coprs/pat1/rmap/

[2020-09-09 11:55] pat1 commented on #4
L'unica configurazione richiesta nel caso di un repo dedicato credo sia la seguente:
External Repository List
The following repositories are accessible during builds
    copr://simc/stable
    copr://pat1/rmap

[2020-09-09 12:05] edigiacomo commented on #4
Creato https://copr.fedorainfracloud.org/coprs/simc/cosudo/ e aggiunto il token, che viene usato da `copr-cli`.

Di seguito un esempio  (sostituire `SPECFILE` con il path relativo del file spec che sarà presente nel repository):

[code]

[2020-09-09 12:06] edigiacomo commented on #4
Dimenticavo: le suddette aggiunte sono state fatte nella commit 05933ef

[2020-09-10 07:50] gianpieropa commented on #4
Prima del deploy la build di travis fallisce (credo nel recuperare le variabili per decriptare il file), nel seguente punto:
`openssl aes-256-cbc -K $encrypted_6d2e60986cdb_key -iv $encrypted_6d2e60986cdb_iv -in .copr.enc -out .copr -d`

Questa è la [build](https://travis-ci.com/github/ARPA-SIMC/cosudo/jobs/383096613) dove fallisce, avete idee?

[2020-09-10 08:07] gianpieropa commented on #4
La [build](https://travis-ci.com/github/ARPA-SIMC/cosudo/jobs/383105072) su travis fallisce al seguente comando :
`openssl aes-256-cbc -K $encrypted_6d2e60986cdb_key -iv $encrypted_6d2e60986cdb_iv -in .copr.enc -out .copr -d`
con il seguente risultato:
`iv undefined`
Credo non riesca ad accedere alle variabili, avete idee?

[2020-09-10 08:34] edigiacomo commented on #4
Ho guardato le impostazioni su Travis e le variabili sono presenti. Anche da CLI mi risultano

[code]

[2020-09-10 08:37] edigiacomo commented on #4
Ho provato a cifrare nuovamente il file, vediamo se si ripiglia.

[2020-09-10 08:57] edigiacomo commented on #4
Ho capito la causa del comportamento misterioso: cosudo è attivato sia su travis-ci.com che su travis-ci.org. In quest'ultimo abbiamo tutti i nostri progetti, compreso cosudo, e funziona tutto regolarmente (si veda https://travis-ci.org/github/ARPA-SIMC/cosudo). Su travis-ci.org invece no.

Non abbiamo mai fatto la migrazione dei nostri progetti da org a com e non vorrei creare problemi ai build d

[2020-09-10 09:05] gianpieropa commented on #4
Perfetto, grazie mille

[2020-09-10 09:57] edigiacomo commented on #4
Aggiornamento: ho disabilitato il build su travis-ci.com e ho lasciato quello su travis-ci.org, quindi adesso non dovreste più ricevere notifiche dal primo.

[2020-09-10 12:44] fabiodepas commented on #4
La release da pubblicare su Copr come viene passata una volta terminato il test con Travis?  Perchè mi sembra che su Copr finsca un archivio che viene posto su Git

[2020-09-10 12:57] edigiacomo commented on #4
Il campo [`Source0`][1] nello spec file deve contenere l'URL a cui è possibile scaricare il sorgente: consiglio l'URL della release su GitHub di un tag corrispondente alla versione pacchettizzata (puoi ispirarti a https://github.com/ARPA-SIMC/arkimet/blob/master/fedora/SPECS/arkimet.spec)

Copr, una volta inviato lo spec, si occupa di scaricare il sorgente da `Source0`, pacchettizzarlo e pubblicar

[2020-09-16 08:41] gianpieropa opened #28 "Invalidazione manuale, e flag di qualità dei dati"
Nel capitolato è indicato di far visualizzare su mappa gli attributi di confidenza generati dal controllo automatico, che dovrebbero essere i seguenti :B33192, B33193, B33194.
Sul db di test non sembrano presenti questi flag, il seguente script non restituisce nulla:
[code]
Come posso simulare le etichettature automatiche ?
Mentre per l'invalidazione manuale quale è il flag che va inserito ?

[2020-09-16 10:13] edigiacomo commented on #28
Puoi ispirarti a questo nostro script https://github.com/ARPA-SIMC/dba_qcfilter/blob/master/dba_qcfilter/cli.py

[2020-09-16 10:14] edigiacomo commented on #28
B33196=1

[2020-09-17 09:21] gianpieropa commented on #28
Sto provando ad inserire degli attributi nel db, ma dopo averli inseriti non risultano, sto sbagliando qualcosa?
[code]
Risultato:
[code]

[2020-09-17 09:32] edigiacomo commented on #28
Leggendo la doc https://arpa-simc.github.io/dballe/python_how/attributes.html#updating-attributes direi che non stai sbagliando. Il comportamento ha anche un suo senso: l'oggetto `rec` è l'n-esimo risultato di una query all'interno di una transazione e probabilmente mantiene il suo stato in modo coerente con quanto presente in DB. L'esito di `rec.insert_attrs` è verificabile solo dopo la commit (f

[2020-09-17 09:42] gianpieropa commented on #28
Perfetto, grazie mille! Un' altra domanda le api borinud restituiscono anche gli attributi? Da quanto ho notato non mi sembra. Allego la risposta ad una richiesta che dovrebbe contenere degli attributi per la var B12101,  in particolare dovrebbe contenere l'attributo B33196
[code]

[2020-09-17 09:46] edigiacomo commented on #28
A memoria e leggendo il codice di borinud https://github.com/r-map/rmap/blob/master/python/borinud/v1/views.py#L28 mi pare di no, chiedo a @pat1 conferma.

[2020-09-17 09:58] gianpieropa commented on #28
Nel caso di conferma, come mi consigliate di procedere effettuiamo delle modifiche a borinud in modo tale che ci restituisca gli attributi ? Perché gli attributi mi sono necessari per la visualizzazione su mappa dei flag di qualità e delle invalidazioni

[2020-09-17 14:33] pat1 commented on #28
la mia ipotesi sarebbe: per geojson no e per gli altri formati si
Se non è così è un bug devo verificare e nel caso dobbiamo assolutamente e immediatamente integrarle (noi ARPAE) in borinud.

[2020-09-17 15:05] pat1 commented on #28
è un bug:
https://github.com/r-map/rmap/issues/319

[2020-09-18 07:04] gianpieropa commented on #28
Attendo un fix allora, grazie

[2020-09-22 11:19] gianpieropa opened #30 "Repository"
Vorrei avere più informazioni sulla struttura del grib repository, in dettaglio vorrei sapere se ci verrà fornito un grib per ogni giorno (e per tipo di dato), o ci verrà fornito un grib per fascia oraria (come il seguente [repository](https://github.com/ARPA-SIMC/qc_sample_data/tree/master/radar/grib2))?

[2020-09-23 07:57] pat1 commented on #30
La domanda non mi è chiara.
Cosa intendi per "struttura del grib repository" ?
Provo comunque a dare una risposta:
I grib contengono (salvo una speciale possibilità che noi evitiamo accuratamente) un solo campo bidimensionale (grigliato)
I grib possono essere uno dietro l'altro dentro un file
I file si possono "giuntare" (append) uno dietro l'altro
I singoli grib possono essere letti singolarmente

[2020-09-23 08:01] pat1 commented on #2
tra breve dovrebbe essere disponibile una versione di borinud con summario più veloce da testare

[2020-09-23 08:16] fabiodepas commented on #30
Avevo capito che ad arkimet dobbiamo fare ad esempio  una query al giorno e salvare i file in un grib repository,
questo repository mi  pareva  lo avessimo descritto come una semplice cartella con grib file dentro,
naturalmente i grib possono contenere diversi dati, layer diversi ed istanti temporali diversi,
dato che  le query arkimet non le abbiamo ancora volevamo capire se
i grib conterranno si

[2020-09-23 09:29] pat1 commented on #30
si può fare una o più query (non so se con una sola query si riesca a fare)

   si, con file con dentro dei grib

   un file contiene dei grib, un grib contiene unsolo grigliato con un solo layer, parametro e istante temporale ...

i grib conterranno singoli grigliati (singoli dati con un solo istante temporale, anche se mi pare di capire si voglia evitare),

   i file con dentro dei grib estratti

[2020-09-23 11:00] pat1 commented on #30
devo specificare che dei dati in formato grib da visualizzare:
https://github.com/ARPA-SIMC/qc_sample_data
radar e satellite dipendono da convertitori/software facenti parte della commessa che non mi risultano ancora utilizzabili.
Quindi per il momento è possibile estrarre da arkimet i dati relativi al modello
https://github.com/ARPA-SIMC/qc_sample_data
come vedete i dati sono di differenti tipolo

[2020-09-24 09:24] gianpieropa opened #31 "Visualizzazione dati su mappa"
Per la visualizzazione dei dati di borinud su mappa abbiamo optato (come da capitolato) per i cluster con la rappresentazione dei dati (per esempio temperatura)
![Schermata del 2020-09-24 11-20-50](https://user-images.githubusercontent.com/68102511/94126561-0c96ad80-fe58-11ea-8c36-83bff4b45ff0.png)

Mentre per quanto riguarda il vento è indicato di rappresentarli con la rosa dei venti, si intende

[2020-09-25 11:16] pat1 commented on #31
no, la rappresentazione del vento che portate come esempio è fattibile solo su grigliato e rappresenta le streamline (linee di flusso)
Le rose dei venti sono cose diverse:
https://en.wikipedia.org/wiki/Wind_rose
un esempio lo trovate a questa pagina cercando rosa dei venti :
https://www.meteoblue.com/it/tempo/historyclimate/climatemodelled/borgosesia_italia_3181749

Non ho fatto una garnde ricerca

[2020-09-25 11:20] pat1 commented on #28
dovrebbe esser stato implementato:
https://test.rmap.cc/borinud/api/v1/dbajson/fgrazzini/1131908,4449301/fixed/254,0,0/103,2000,-,-/B13003/timeseries/2020/09/25/09?dsn=report_fixed&query=attr

servono forse ancora un po' di test.
I commit di rmap sono in git ma non ancora in copr.
Per il momento chiudo la issue, se necessario riaprite.

[2020-09-25 11:20] #28 closed, assigned to edigiacomo, pat1

[2020-09-25 11:28] pat1 commented on #2
abbiamo in test la nuova versione di borinud che dovrebbe dare prestazioni migliori.
https://test.rmap.cc
Evidenzio che attualmente in dbajson e jsonline il campo "vars" previsto come array in borind attualmente contiene un solo elemento, fatto non vincolante per il futuro. Se deve essere considerato un vincolo ne dobbiamo parlare.

[2020-09-25 11:29] pat1 commented on #28
Evidenzio che per ottenere gli attributi la url di borinud deve contenere il parametro "&query=attr"

[2020-10-05 07:27] gianpieropa opened #34 "Aggiunta ad rmap"
Per l'aggiunta ad rmap dopo aver eseguito l'installazione del rpm, bisogna modificare i file di settings e di url, in quanto non credo si possa automatizzare tale operazione, giusto?
In caso di conferma procedo alla pubblicazione della nuova versione su copr

[2020-10-05 07:43] pat1 commented on #34
https://docs.djangoproject.com/en/3.1/intro/reusable-apps/

in estrema sintesi in rmap project dovremo fare:

1. Add "polls" to your INSTALLED_APPS setting like this::

    INSTALLED_APPS = [
        ...
        'polls',
    ]

2. Include the polls URLconf in your project urls.py like this::

    path('polls/', include('polls.urls')),

3. Se necessario Run ``python manage.py migrate`` to create th

[2020-10-05 08:07] #34 closed, assigned to gianpieropa

[2020-10-06 16:25] pat1 commented on #30
Attivare utente per autenticazione su:
https://simc.arpae.it/arkiweb/
(Emanuele)

questa la query arkimet per analisi  dataset lama5:
[code]
e questa per previsioni dataset cosmo_2I:
[code]

Estrazione dei dati da arkiweb

Il servizio /services/arkiweb/data permette di estrarre i dati. I parametri GET a disposizione sono:

    datasets[]=DATASET: dataset da interrogare (può essere dato più volte)

[2020-10-07 05:22] edigiacomo commented on #30
@pat1 A quali dataset devono accedere? Solo `lama5` e `cosmo_2I`?

@brancomat ti chiedo una mano per creare utente e gruppo opportunamente.

[2020-10-07 06:35] pat1 commented on #30
per ora si

[2020-10-07 07:50] brancomat commented on #30
Utente creato, comunico credenziali con altri canali a @pat1

[2020-10-13 07:33] gianpieropa commented on #30
Ho provato ad effettuare la seguente query attraverso richiesta http (con i parametri codificati ovviamente) ma restituisce un file vuoto, sto sbagliando qualcosa?
`datasets[]=lama5&query=reftime: >= 2020-10-08 00:00:00,<=2020-10-12 00:00:00; product:GRIB1,200,2,2 or GRIB1,200,2,11 or GRIB1,200,2,33 or GRIB1,200,2,51 or GRIB1,200,2,61 or GRIB1,200,2,71 or GRIB1,200,2,73 or GRIB1,200,2,74 or GRIB1,

[2020-10-13 07:40] edigiacomo commented on #30
Provate adesso.

(@brancomat: il file di configurazione di arkiweb non era stato aggiornato)

[2020-10-13 07:58] gianpieropa commented on #30
Nulla provato di nuovo anche con curl e con le query postate da voi, la seconda query mi ha restituito il seguente risultato
![Schermata del 2020-10-13 09-56-49](https://user-images.githubusercontent.com/68102511/95832484-98567800-0d3a-11eb-966a-8030b04054b8.png)

[2020-10-13 08:38] gianpieropa commented on #30
Perfetto ora sembra funzionare da curl, lascio l'issue aperta nel caso abbia bisogno di altri chiarimenti. Grazie

[2020-10-16 10:00] #30 closed, assigned to edigiacomo, brancomat, gianpieropa

[2020-10-16 10:06] gianpieropa opened #37 "Pubblicazione su copr"
Ho proceduto a pubblicare il pacchetto rpm su copr, ma ho riscontrato un problema che non mi si era presentato prima. Praticamente la creazione del rpm fallisce per fedora (qui il [log](https://download.copr.fedorainfracloud.org/results/simc/cosudo/fedora-32-x86_64/01709021-django-dynamic-map-borinud/builder-live.log.gz) ), mentre per centos funziona perfettamente. Avete idee sul perché? ho provat

[2020-10-16 10:29] pat1 commented on #37
direi che il problema deriva dall'intenzione del build di fare il pacchetto di debug, cosa inusuale per pacchetti python.
Forse dipende dal contenuto.
Per forzare la cosa mi parerrebbe più corretto utilizzare
%global debug_package %{nil}
invece di:
%define __debug_package %{nil}

Segnalo che la licenza utilizzata non è corretta:
License: BSD 3-Clause

[2020-10-19 07:52] gianpieropa commented on #37
Nulla continua a fallire su fedora, la cosa strana è che inizialmente funzionava e non sono state apportate modifiche al file spec, questo è il nuovo [file di log](https://download.copr.fedorainfracloud.org/results/simc/cosudo/fedora-32-x86_64/01711464-django-dynamic-map-borinud/builder-live.log.gz)

[2020-10-19 08:34] pat1 commented on #37
potrebbe essere un errore "casuale"; io in questo caso proverei un "ritenta sarai più fortunato"

[2020-10-26 09:11] gianpieropa opened #38 "Attributi borinud"
Provando a caricare gli attributi per dei test, ho notato che una volta caricati borinud comunque non li restituiva, invece facendo una query da python gli attributi erano presenti. Guardando nel codice di borinud, credo di aver individuato il problema.
Nella classe DballeDB di borinud la funzione fill_data_db è la seguente:
[code]
Mentre credo debba essere modificata in questo mod:
[code]
Non so

[2020-10-26 10:39] gianpieropa opened #39 "Attributi cluster"
Per la visualizzazione sommaria dei flag di qualità sui cluster ho pensato che per le invalidazioni posso mostrare il numero di dati invalidati sul numero dei totali (es. 25 of 300), mentre per gli altri flag di qualità è importante visualizzare il minimo o il massimo dei valori, oppure una media ?

[2020-10-26 11:31] pat1 commented on #38
risolto con
https://github.com/r-map/rmap/commit/dbcae2f1f5cf9617336865d178e8b1c9fc52c34d
grazie della segnalazione.
Ma credo che il tuo problema non derivi da questo che comportava problemi solo facendo un merge di differenti "sorgenti" e non si evidenzia se estrai dati degli ultimi 7 giorni.

Ho cercato di evidenziare che per ottenere gli attributi dalle web api borinud bisogna aggiungere &query

[2020-10-26 12:02] pat1 commented on #39
se stai parlando delle spatialseries credo potrebbe bastare evidenziare ( magari facendo lampeggiare il backgriound) se almeno uno dei dati nel cluster è stato invalidato / nessun dato invalidato.
Però per fare una cosa semplice e flessibile come discusso all'ultimo incontro tutta la visualizzazione degli attributi potrebbe essere realizzata tramite dei filtri sulla visualizzazione dei dati:
* vis

[2020-10-26 12:04] gianpieropa commented on #38
Sisi era chiaro e infatti lo avevo inserito, probabilmente è perché sto utilizzando un db con dati di luglio (?)

[2020-10-26 12:11] pat1 commented on #38
direi di si, dipende dalle configurazioni
in setting.py ci sono le variabili BORINUD e BORINUDLAST che definiscono da quali sogenti prendere i dati: la prima per l'intero periodo in DB, BORINUDLAST per i dati dell'ultima settimana.
Usando dati antecedenti l'ultima settimana impica usare BORINUD e le cose rallentano un po'

[2020-10-26 12:17] #38 closed, assigned to edigiacomo, pat1

[2020-11-02 10:05] #39 closed, assigned to edigiacomo, pat1

[2020-11-02 10:12] pat1 commented on #14
secondo me questa è risolta dalla #30. Se non è così riapritela

[2020-11-02 10:12] #14 closed, assigned to pat1

[2020-11-02 11:13] pat1 opened #41 "nodata after a var selection on dynamic map"
https://test.rmap.cc/dynamic/map/

seleziona la variabile PRESSURE
SEARCH
la risposta è
nessun risultato

questo non dovrebbe essere possibile visto che il summary dovrebbe presentare solo dati realmente presenti: almeno un dato deve esserci altrimenti non deve esserci quella varibile nel summary ...

[2020-11-02 12:11] gianpieropa commented on #41
Forse è relativo ad un bug già risolto, provate aspettando che il box con la data venga riempito dalla data corrente.
Procederò a rilasciare una nuova release con le nuove features entro domani

[2020-11-02 12:19] #31 closed, assigned to gianpieropa

[2020-11-02 12:25] gianpieropa opened #43 "Tabelle vm2"
Rimaniamo  in attesa come deciso in riunione delle api per le tabelle vm2 di conversione e quelle che forniscono le stazioni, livelli, timerange, network e variabili non presenti nel db, necessari per l'ultimazione della parte di invalidazione.

[2020-11-02 12:36] PasqualiSIMC opened #44 "Come posso testare il lavoro fatto finora?"
E' possibile testare il lavoro fatto finora? In particolare mi riferisco alla visualizzazione delle invalidazioni. Inoltre è possibile testarlo su un set di dati recente (ultimi giorni, la rete RMAP, temperatura e precipitazioni) ?

[2020-11-02 15:54] edigiacomo commented on #43
Ciao, l'idea è quella di fornire un URL a cui scaricare il file in formato JSON (oppure in Lua, che poi può essere facilmente convertito). Per ora, potete usare il file dal repository di `meteo-vm2`. Di seguito, il codice per scaricare il file e convertirlo in JSON su stdout.

Prima, installate i pacchetti necessari `dnf install lua-http lua-json` (disponibili sia per fedora >=32 che per centos8).

[2020-11-02 16:09] gianpieropa opened #45 "Summary e dati effettivi differenti"
Ho notato dopo un test che le summary non forniscono tutti gli orari disponibili, è un effetto voluto?
Per esempio nell'immagine che segue potete notare che nello slider del tempo in basso a sinistra l'unica combinazione è con l'orario 00:00:00, ma in realtà il dato aperto con il popup mostra che l'orario del dato è 14:45:00.
Controllando anche, manualmente nella risposta del summary effettivament

[2020-11-02 16:15] pat1 commented on #45
dobbiamo condividere versioni e ambiente di test altrimenti la cosa diventa difficile:
suppongo tu stia parlando di borinud
quale versione?
su quale set di dati stai testando? possiamo condividere un dataset di dati di test ?
facciamo i test su vostre macchine o fate delle release e testiamo sulle nostre ?
related to #44

[2020-11-02 16:21] pat1 commented on #45
noto che state lavorando su dati di luglio, quindi di default con l'ultima versione di borinud il summary viene fatto anche su arkimet.
quale configurazione di arkimet usate? come avete costruito i summary relativi a arkimet ?
Diciamo che ci interessa trovare i bug di borinud anche con arkimet (siamo alla versione beta), ma non è la configurazione standard di cosudo che ci interessa.
Cosudo dovreb

[2020-11-02 16:39] gianpieropa commented on #45
Se per configurazione di borinud vi riferite alle variabili borinud e borinud last, sono le seguenti (identiche a quelle presenti sul git di rmapin quanto non abbiamo modificato nulla). Dovrei eliminare arkimet dalle sources della variabile borinud?
La versione di rmap che stiamo utilizzando si riferisce al seguente [commit](https://github.com/r-map/rmap/commit/dbcae2f1f5cf9617336865d178e8b1c9fc52

[2020-11-02 16:42] gianpieropa commented on #45
Procederemo comunque a mettere su un ambiente di test, per velocizzare le cose

[2020-11-02 16:54] fabiodepas opened #47 "DEM in formato ESRI FLT"
Salve, dove posso trovare qualche vostro file DEM in formato ESRI FLT così da poterli testare?

[2020-11-02 17:01] pat1 commented on #45
la versione borinud è allo stato dell'arte di git e quindi non ci sono problemi.

le SOURCES dipendono dal parametro
[code]
nel file di configurazione.
quelle che mi hai inviato sono relative a DEBUG_BORINUD_SOURCES = False
e dalle SOURCES risultano comprese risorse arkimet e i summaries di arkimet vengono generati da file del tipo
[code]
come avete generato tali file ?
I come già scritto in un'al

[2020-11-02 17:40] pat1 commented on #47
da assegnare a
PasqualiSIMC
ma non fa parte del gruppo ...

[2020-11-02 18:07] dcesari commented on #47
Io ho dei dem in formato analogo ma con valori interi, se servono.

[2020-11-03 08:12] fabiodepas commented on #47
Se sono  quelli  che verranno dati in pasto al wms vanno  bene.

[2020-11-03 08:21] #43 closed, assigned to edigiacomo

[2020-11-03 08:27] gianpieropa commented on #45
La configurazione sembrerebbe esatta
[code]

[2020-11-03 09:26] gianpieropa commented on #44
Abbiamo messo su un [server di test,](http://18.196.3.89:8888/dynamic/map/) provvederemo ad aggiornare il server man mano che terminiamo i task.

[2020-11-03 10:18] pat1 commented on #45
a questo punto bisogna verificare cosa c'è dentro quei dsn.
Se ne possono svuotare 3 e di fatto utilizzare il quarto che è l'unico di nostro interesse:
dsnsample_fixed, dsnsample_mobile, dsnreport_mobile potranno essere creati vuoti con il comando del tipo
[code]
oppure si può specificare a borinud da quali risorse attingere

[code]
vedi ultimo parametro "?dsn=report_fixed"

a questo punto possiam

[2020-11-03 15:39] dcesari commented on #47
Non credo, sono parte di una mia "collezione privata", aspetto notizie da @pat1.
Aggiungo incidentalmente, forse lo sapete, che i DEM di quel tipo di possono fondere in un unico virtual dataset gdal con `gdalbuildvrt`.

[2020-11-03 16:21] pat1 commented on #45
non riesco a vedere il problema:
http://18.196.3.89:8888/borinud/api/v1/dbajson/arpaeaq/*/*/*/*/B12101/summaries

torna:
 "date": ["2020-07-14T00:00:00", "2020-07-15T23:45:00"]
che sono gli estremi delle date presenti in archivio ...

[2020-11-03 16:50] gianpieropa commented on #45
Risolto grazie dell'aiuto, il problema dipendeva dal come veniva alimentato lo slider del tempo (avevo confuso le date che restituivano le summary). Provvederò a caricare, appena terminati i cambiamenti, anche sul server di test.

[2020-11-03 16:50] #45 closed, assigned to gianpieropa

[2020-11-03 18:29] pat1 commented on #47
Pasquali entro domani fornirà il DEM
quando accetterà l'invito al team potrò assegnargli la issue

comunque @dcesari puoi fornire i tuoi DEM da "collezione privata" così ci facciamo dei test

[2020-11-04 11:05] dcesari commented on #47
Ho caricato su Gdrive un tar derivato da dati estratti da http://viewfinderpanoramas.org/dem3.html a 3" d'arco (~100m) e rielaborati da me per creare i relativi file descrittori ESRI bil/hdr, swappare i dati (script `conv.sh`) e creare il dataset virtual gdal associato.

https://drive.google.com/file/d/1LA-njY5vMDe0xELJJ_Bk3uavWBsAMR2B/view?usp=sharing

[2020-11-04 11:12] pat1 commented on #5
mi pare sia stato realizzato

[2020-11-04 11:12] #5 closed, assigned to fabiodepas

[2020-11-04 11:15] pat1 commented on #2
mi pare la scelta sia stata fatta.
Per eventuali ottimizzazioni al summary prego aprire un'altra issue

[2020-11-04 11:15] #2 closed, assigned to gianpieropa, fabiodepas

[2020-11-04 11:48] PasqualiSIMC commented on #47
Ho caricato su Gdrive (https://drive.google.com/drive/folders/17hUQYKxwJZH5zk50spDmIiuLB672uRSz?usp=sharing) il dem che verrà caricato su WMS

[2020-11-11 16:22] gianpieropa opened #48 "Risolto problema import (issue di aggiornamento)"
Son riuscito a risolvere il problema dell'import (dando nel comando di import anche --wipe-first ha funzionato).
Ora i dati costanti di stazione vengono correttamente visualizzati.
Mentre il problema che si presentava utilizzando rmap.cc per borinud era causato dalla mancanza degli attributi nella risposta ai dati, infatti con test.rmap.cc funziona tranquillamente.
Nei prossimi gg pubblicherò la r

[2020-11-11 16:22] #41 closed, assigned to gianpieropa, fabiodepas

[2020-11-12 11:06] fabiodepas opened #49 "[Conversione netcdf2grib] parametro timeRangeIndicator"
Come potete vedere nell'immagine ho trovato questo parametro timeRangeIndicator, nell'esploarazione (fatta nei giorni scorsi) dei tool di conversione in fortran, avevo trovato  che nel  caso di GRIB1 il valore da impostare fosse 4, nel vostro file trovo impostato 13, non so se sia un problema di tavole di conversione dovuto al sistema, cosa facciamo, impotiamo13?
nell'mmagine sotto potete ossevare

[2020-11-12 11:07] fabiodepas commented on #49
Per i restanti attributi, a parte il "centre" che nei vostri file risulta 80 e nel nostro 200, i grib1 e 2 generati sembrano essere identici a  quelli dei vostri esempi.

[2020-11-12 11:13] pat1 commented on #49
mi raccomando il tool non si chiama netcdf2grib ma radarnetcdf2grib.
riassegno a Pierpaolo per quanto riguarda il radar e Davide per decidere lo standard di scrittura ...

[2020-11-19 22:10] gianpieropa opened #51 "Travis test fallisce con fedora 30"
Ho creato una una pull request (#50) con le nuove modifiche, ma fallisce per fedora 30. Perché non riesce ad abilitare il repository copr simc/stable necessario per la dipendenza a dballe. Avete suggerimenti ?

[2020-11-19 22:48] gianpieropa commented on #51
Per il momento ho disattivato i test per fedora 30

[2020-11-20 06:40] edigiacomo commented on #51
Per me puoi lasciarli disattivati: Fedora 30 ha raggiunto EOL a fine maggio (https://fedoraproject.org/wiki/End_of_life).

[2020-11-23 09:03] #51 closed, assigned to pat1

[2020-11-23 09:12] #48 closed, assigned to pat1

[2020-11-23 09:12] #47 closed, assigned to PasqualiSIMC

[2020-11-23 09:13] #44 closed, assigned to PasqualiSIMC

[2020-11-23 09:15] #4 closed, assigned to fabiodepas

[2020-11-23 09:15] gianpieropa opened #52 "Tabelle vm2 (variabili)"
Ho trasformato il file lua estrapolando le variabili e ho notato che hanno il seguente formato (con ripetute le variabili per ogni time-range o livello diverso):
`{"bcode": "B13011", "tr": 1, "p1": 0, "p2": 43200, "lt1": 1, "l1": "nil", "lt2": "nil", "l2": "nil", "unit": "mm"}`
Per come è strutturato la piattaforma di invalidazione invece, avrei bisogno di time-range e livelli scorporati, in modo

[2020-11-23 09:24] pat1 commented on #52
@edigiacomo potremmo passare ad offrire un servizio del tipo borinud summaries ?
https://test.rmap.cc/borinud/api/v1/dbajson/*/*/*/*/*/*/summaries
per ora Be20 potrebbe utilizzare il servizio "fittizio" fornito da borinud per passare poi a un servizio fornito a partire da VM2 ?

[2020-11-23 09:32] gianpieropa commented on #52
Sisi nessun problema, per le stazioni invece abbiamo usato il file lua senza nessun problema

[2020-11-23 09:35] edigiacomo commented on #52
Premessa: sulla trasformazione da lua a json proposto in #43, ho trovato l'inghippo, mancava la trasformazione in Lua table prima del decode:

[code]

Genero il file JSON

[code]

Dopo questa premessa: forse non ho capito cosa intendi per "scorporare" livelli e timerange. Posso solo sospettare che tu voglia avere una lista dei timerange univoci ed una lista dei livelli univoci, in modo da fare due

[2020-11-23 09:36] gianpieropa commented on #52
Esatto è proprio quello che intendo

[2020-11-23 10:07] edigiacomo commented on #52
In tal caso, ottenere gli insiemi univoci a partire dall'elenco delle variabili (che sono 528) non mi pare molto oneroso: ad esempio, il benchmark in Python per la creazione del set di timerange:

[code]

E mi aspetto valori sempre nell'ordine di millisecondi in JavaScript.

Quando l'utente aggiorna una delle `<select>`, immagino che l'interfaccia debba scandire l'elenco delle variabili per contro

[2020-11-23 10:38] gianpieropa commented on #52
Allora procederò con l'estrapolazione a run-time

[2020-11-23 11:19] #52 closed, assigned to edigiacomo, pat1

[2020-11-23 14:33] pat1 opened #53 "last rpm pkg No module named 'rest_framework'"
[code]

[2020-11-23 14:46] gianpieropa commented on #53
Avete aggiunto rest_framework alle app installate come indicato sulla guida?

[2020-11-23 15:38] pat1 commented on #53
Scusa, dove dovrei trovarla la "guida"?

elenco dipendenze:
[code]

documentazione inclusa nel pacchetto nessuna:
[code]

[2020-11-23 15:39] gianpieropa commented on #53
la guida all'installazione è presente nella documentazione

[2020-11-23 15:41] gianpieropa commented on #53
Questa è la [documentazione per l'installazione](https://github.com/ARPA-SIMC/cosudo/blob/master/docs/source/installation.rst)

[2020-11-23 16:22] pat1 commented on #53
nel pacchetto comunque manca la dipendenza da python3-django-rest-framework

[2020-11-23 16:40] pat1 opened #54 "il bottone show praph non funziona"
Uncaught ReferenceError: showAllGraph is not defined
    onclick https://test.rmap.cc/dynamic/map/:1

[2020-11-23 19:18] gianpieropa commented on #54
Ne sono a conoscenza è in corso di modifica, sarà risolto con il prossimo push

[2020-11-24 15:25] fabiodepas opened #55 "Accesso dataset privato"
Ho caricato su Gdrive un tar derivato da dati estratti da http://viewfinderpanoramas.org/dem3.html a 3" d'arco (~100m) e rielaborati da me per creare i relativi file descrittori ESRI bil/hdr, swappare i dati (script `conv.sh`) e creare il dataset virtual gdal associato.

https://drive.google.com/file/d/1LA-njY5vMDe0xELJJ_Bk3uavWBsAMR2B/view?usp=sharing

_Originally posted by @dcesari in https://gi

[2020-11-25 16:04] #54 closed, assigned to gianpieropa

[2020-11-26 14:58] fabiodepas commented on #55
Non essendo previsti da capitolato, il problema della lettura e conversione di questi file non sussiste più.

[2020-11-26 14:58] #55 closed, assigned to dcesari, PasqualiSIMC

[2020-11-26 15:26] fabiodepas opened #57 "Database Gestione allarmi"
Nel capitolato ci scrivete:
---------------------------
**Gestione allarmi**
Per lo sviluppo di questa sezione della web app dovrà essere utilizzato il framework
GeoDjango https://docs.djangoproject.com/en/3.0/ref/contrib/gis/
---------------------------

Nella prima riunione, rileggendo gli appunti presi, ci avete chiesto di non utilizzare PostGis.
Dato che GeoDjango necessita di un DB Geospazial

[2020-11-26 15:51] pat1 commented on #57
la risposta sintetica potrebbe essere così:
Se geodjango risulta MOLTO utile allora si può utilizzare.
Altrimenti se ne può fare volentieri senza.

Aggiungo che al momento sono utilizzati in RMAP in sostituzione di geodjango e quindi consigliati:
python-django-geojson
python-django-jsonfield
python-django-leaflet

in particolare:
django-geojson is a set of tools to manipulate GeoJSON with Django :

[2020-11-26 15:53] pat1 opened #58 "cors"
Segnalo che in RMAP si fa uso di:
python3-django-cors-headers

A Django App that adds Cross-Origin Resource Sharing (CORS) headers to
responses. This allows in-browser requests to your Django application from
other origins.

[2020-11-26 15:57] fabiodepas commented on #57
Grazie, procediamo senza anche perchè in questo caso non darebbe davvero un valore aggiunto, al più utilizziamo i pachetti consigliati.

[2020-11-26 15:57] #57 closed, assigned to pat1, gianpieropa

[2020-11-26 16:15] gianpieropa opened #59 "Richiesta summary creazione allarmi"
Per la creazione degli allarmi devo effettuare una richiesta a borinud con due periodi differenti, uno storico e uno che vogliamo analizzare, come posso richiedere queste due summary a borinud; perché effettuando le seguenti richieste ovvero con anno e mese differente il risultato è uguale:
https://rmap.cc/borinud/api/v1/dbajson/*/*/*/254,0,0/103,2000,-,-/B12101/summaries/2019/11/26
https://rmap.c

[2020-11-26 16:19] gianpieropa commented on #59
aggiungo che ho provato anche senza il giorno nella richiesta

[2020-11-26 17:40] pat1 commented on #59
bisogna interrogare due servizi borinud differenti:
quello storico per il momento può essere test.rmap.cc o rmap.cc
quello di analisi è quello locale con un solo periodo (qualche giorno) presente nel DB

in futuro potrebbe essere gestito differentemente, ma in ogni caso si tratta di specificare due URL differenti

spero questo sia fattibile senza problemi ...

[2020-11-26 17:47] gianpieropa commented on #59
Quindi non vanno utilizzate date nella richiesta?

[2020-11-26 18:32] pat1 commented on #59
purtroppo al momento abbiamo un bug e il summaries non le considera, di conseguenza no.
dobbiamo correggere il bug e fare dei test e poi installare ... tempi troppo stretti.
Per ora devi simulare la cosa:
1) gestire le date (selezione del periodo attenzionato)
2) comporre le url
3) ignorare le url composte e usare due url statiche come da post sopra

per la selezione del periodo attenzionato puoi

[2020-11-27 11:43] palberoni commented on #49
Abbiamo fatto la scelta di impostare il timerangeindicator a 13 perchè abbiamo a che fare con cumulate osservate (nel caso radar).
Il valore 4 fà riferimento ad output di modelli previsionali con cumulate "previste".

Quindi manteniamo il 13.

[2020-11-27 11:49] fabiodepas commented on #49
Perfetto, grazie mille.

[2020-11-27 11:49] #49 closed, assigned to dcesari, palberoni

[2020-11-27 12:41] pat1 commented on #59
dipende da
https://github.com/ARPA-SIMC/dballe/issues/240

[2020-11-28 07:55] #37 closed, assigned to edigiacomo, pat1, fabiodepas

[2020-11-28 12:49] pat1 commented on #59
non dipende da dballe ma da rmap:
https://github.com/r-map/rmap/issues/323

[2020-11-28 14:49] pat1 commented on #59
dovrei aver temporaneamente risolto disattivando la cache sui summaries.
Il parametro nel file di config è:

SUMMARYCACHE =  False

Ora però come conseguenza pare si sia rotto il menù dell'app in generale ...

[2020-11-30 07:58] fabiodepas commented on #59
Di che menù si parla?

[2020-11-30 14:45] pat1 commented on #59
la release 11.0 di rmap dovrebbe aver risolto il problema; è installata su test.rmap.cc
il menu era quello di cosudo, ma come non detto; mi pare però che il summary all'avvio di cosudo dovrebbe a questo punto essere composto con la data corrente se non lo è già

[2020-12-01 08:02] gianpieropa commented on #59
Ho corretto la richiesta delle summaries ora al caricamento la effettua con la data corrente (anno/mese)

[2020-12-02 15:49] fabiodepas opened #66 "radar_converter"
Ilsetup.py NON crea l'eseguibile in bin.

[2020-12-02 15:50] fabiodepas opened #67 "Rimuovere richiesta cartella in radar_grib2netcdf"
Rimuovere il bug di richiesta della cartella nel file di output in radar_grib2netcdf

[2020-12-02 15:53] fabiodepas opened #68 "Sovrascrizione grib vecchi in grib-extractor"
I vecchi file grib non vengono cancellati dalla cartella di  skinnywms prima  diunanuova estrazione.

[2020-12-02 15:56] fabiodepas opened #69 "Menu nuove funzionalità"
Creare un menù in cui sono disponibili le nuove funzionalità sviluppate.

[2020-12-02 16:01] fabiodepas opened #70 "Mapserver: pacchetizzare"
Correggere priozione  inserendo una utilizzabile da leaflet e pacchettizzare l'installazione

[2020-12-02 16:11] fabiodepas opened #71 "Errore timerange su skinny"
Le date non  sembrano essere corrette, bisogna rivedere i timerange e se il problema è  relativo la versione forkata  di skinnywms o  da una nostra gestione errata (esempio parametro utilizzato errato)

[2020-12-02 16:24] fabiodepas opened #72 "Armonizzazione colori wms - dati"
I colori dei dati della mappa e dei wms devono essere armonizzati per tipi (temperature con temperature, vento con vento ecc... )

[2020-12-02 16:29] fabiodepas opened #73 "Visualizzazione layer su *"
Visualizzazione layer quando barra temporale su *

[2020-12-02 16:31] fabiodepas opened #74 "Ricerca su grafico"
Attivare la barra di ricerca nella visualizzazione dei grafici

[2020-12-02 16:32] fabiodepas opened #75 "Invalidazioni su grafico"
Permettere le invalidazioni  mentre si visualizzano i grafici

[2020-12-02 16:39] fabiodepas opened #76 "Sostituire in allarmi dati con le descrizioni"
Le vars e i timerange vanno sostituiti con le loro descrizioni nella tabella degli allarmi

[2020-12-02 16:51] fabiodepas opened #77 "Terminare documentazione"
Terminare documentazione

[2020-12-02 19:35] pat1 commented on #59
alla fine dipende da:
https://github.com/ARPA-SIMC/dballe/issues/242

breve documentazione del summary:

Looking at the code, datetime extremes are taken into account when querying summaries, both xapian-based and in-memory ones.
However, summaries are summaries and not detailed data, and are aggregated by time interval. Querying by datetime bounds will return all summaries that intersect the quer

[2020-12-03 08:26] pat1 opened #78 "aggiungere i test a radarconverter"
ci sono i dati (netcdf) per fare i test di conversione avanti e indietro ...

[2020-12-03 08:29] fabiodepas opened #79 "Inserire licenza"
Inserire file licenze

[2020-12-03 10:25] gianpieropa opened #80 "Correggere richiesta summary"
Correggere la richiesta che si effettua nella pagina map, effettuando la richiesta ogni volta che si sceglie una nuova data

[2020-12-03 14:31] fabiodepas commented on #67
Rimossa creazione cartella in caso di directory del file di output non tovata

[2020-12-03 14:31] #67 closed, assigned to fabiodepas

[2020-12-03 14:33] fabiodepas commented on #66
Fix file setup, adesso le funzioni 'radar_grib2netcdf' e 'radar_netcdf2grib'  sono disponibili  in console dopo l'installazione

[2020-12-03 14:33] #66 closed, assigned to fabiodepas

[2020-12-03 14:44] fabiodepas commented on #78
Inserite funzioni di test, naturalmente non abbiamo caricato i file (grib e netcdf) utilizzati per i test su git,
la funzione di verifica dei gri vaabuonfine sututti i file,
la funzione per la verifica dei netcdf invece fallisce,
difatti partendo da un netcdf e convertendolo in grib non ci sono problemi,
quando si esegue l'operazione al contrario alcune informazioni come la divisione in intervalli

[2020-12-04 16:38] fabiodepas commented on #78
Modifcata  la funzione di  test er laverifica  dei netcdf, se i file non sono "identici"  calcoliamo l'errore su latitudini, longitudini e dati e se non supera la soglia di 0.0005 allora lo diamo per buono.

[2020-12-04 16:38] #78 closed, assigned to fabiodepas

[2020-12-04 16:59] fabiodepas opened #82 "Mapserver info DEM"
Salve, stiamo cercando di  visualizzare "correttamente" il dem, ma questo risulta spostato  sulla mappa,cambiando i valori delle x e delle y nel file hdr riusciamo a posizionarlo nel punto giusto sulla mappa  ed anche la  dimensione sembra esatta, dato che nemmeno gdal riesce a dirci  l'esatta proiezione di riferimento, avete idee o consigli? o potrebbe essere che il file hdr è stato modificato? G

[2020-12-04 17:59] #80 closed, assigned to gianpieropa

[2020-12-04 17:59] #68 closed, assigned to gianpieropa

[2020-12-04 17:59] #69 closed, assigned to gianpieropa, fabiodepas

[2020-12-04 17:59] #73 closed, assigned to gianpieropa

[2020-12-04 17:59] #76 closed, assigned to gianpieropa

[2020-12-07 11:20] gianpieropa commented on #71
Confermo sia un problema della versione di cui abbiamo fatto il fork. Sul branch master le date vengono gestite correttamente.

[2020-12-07 11:43] #74 closed, assigned to gianpieropa

[2020-12-07 11:43] #75 closed, assigned to gianpieropa

[2020-12-07 16:33] gianpieropa commented on #71
Solved  gianpieropa/skinnywms#3

[2020-12-07 16:33] #71 closed, assigned to gianpieropa, fabiodepas

[2020-12-09 07:31] PasqualiSIMC commented on #82
Buongiorno, il dem è UTM32n WGS84 nell'HDR è indicata qual'è la prima cella (yll = lower left)

[2020-12-09 08:42] fabiodepas commented on #82
Perfetto orasi  vede nel punto giusto. MapServer continuava ad utilizzare UTM33, quindi il codice della proiezione è epsg:32632
Grazie mille.

[2020-12-09 08:42] #82 closed, assigned to pat1, PasqualiSIMC, fabiodepas

[2020-12-09 11:57] fabiodepas commented on #70
Aggiunto file spec e guida all'installazione

[2020-12-09 11:57] #70 closed, assigned to fabiodepas

[2020-12-10 07:46] #72 closed, assigned to gianpieropa, fabiodepas

[2020-12-10 07:46] #79 closed, assigned to gianpieropa, fabiodepas

[2020-12-10 11:58] gianpieropa commented on #59
Continuo ad avere problemi con le summary, sto utilizzando la versione di rmap su git, ma le summary con data continuano a non funzionare http://18.195.7.150:8888/borinud/api/v1/dbajson/*/*/*/*/*/*/summaries/2020/12/09
Dovrebbe restituire dei risultati, infatti ci sono dei dati
http://18.195.7.150:8888/showdata/*/*/*/254,0,0/103,2000,-,-/B12101/spatialseries/2020/12/09?dsn=report

[2020-12-10 12:31] pat1 commented on #59
come detto sopra dipende da
https://github.com/ARPA-SIMC/dballe/issues/242
in attesa di pacchettizzazione

[2020-12-10 12:56] pat1 commented on #59
la quale pacchettizzazione dipende da:
https://github.com/ARPA-SIMC/dballe/issues/241

[2020-12-15 13:33] pat1 commented on #59
nuovi pacchetti disponibili.
dopo aver effettuato un dnf upgrade tutto dovrebbe funzionare.

[2020-12-15 13:43] pat1 commented on #59
ho testato anche le estensioni a borinud e paiono funzionare:

https://test.rmap.cc/borinud/api/v1/dbajson/*/*/fixed/254,0,0/103,2000,-,-/B12101/summaries/2020/12/15?latmin=4512345&latmax=4612345&lonmin=1212345&lonmax=1312345

contro

https://test.rmap.cc/borinud/api/v1/dbajson/*/*/fixed/254,0,0/103,2000,-,-/B12101/summaries/2020/12/15

lascio aperta issue per permettere ulteriori verifiche a @gia

[2020-12-15 14:24] pat1 commented on #59
pare ci siano in station e stationdata alcuni problemi con il fattore di scala delle coordinate

[2020-12-16 20:44] pat1 commented on #59
risolti, nuvo pacchetto python3-rmap disponibile

[2021-01-20 11:14] pat1 opened #85 "conversione di unità di misura nei grafici"
la temperatura su mappa viene visualizzata in °C , nel grafico in K.

oltre a questa schizzofrenia mi chiedo come venga fatta la conversione tra unità di misura come sia gestibile nel backend

[2021-01-20 11:18] pat1 opened #86 "dati su mappa visualizzati come NaN"
molti dati su mappa vengono rappresentati come NaN.
pare corrisponda a valori non rappresentabili nel formato prestabilito

ad esempio:
selezionare rete "fidu" e var "Pressure"

[2021-01-20 11:20] pat1 opened #87 "invertire funzionalità delle frecce associate al campo data e ora"
mi sembrerbbe più intuitovo diminuire con la freccia in basso e aumentare con la freccia in alto

[2021-01-20 11:23] pat1 opened #88 "connessione tra punti nei grafici"
nei grafici per una rappresentazione ottimale nella maggioranza dei casi è meglio connettere i punti con segmenti lineari e non tramite spline

[2021-01-20 11:28] pat1 opened #89 "generazione link a servizio borinud"
nella mappa e nei grafici sarebbe utile generare un link al servizio borinud/spatialseries/timesries di rmap relativo ai dati presi in esame.
Cosudo non avendo la gestione delle viste a url non permette di condividere le viste e non permette di estrarre o visualizzare i dati tramite glli altri tools di rmap; creare un link risolverebbe il problema

[2021-01-25 09:45] gianpieropa opened #90 "Problema installazione rmap"
Stavo ricreando l'ambiente di sviluppo (a causa di un cambio di pc), ho installato tutti i pacchetti come da guida ma riscontro il seguente errore con dballe. La versione installata di dballe è la 8.15. Ho provato avviando rmap sia con la versione su copr, che con la versione su git. Ho provato anche ricreando il container di docker, ma nulla. Avete idee?
[code]

[2021-01-25 09:47] gianpieropa commented on #90
Questi sono i comandi che ho utilizzato per l'installazione dei vari pacchetti.
[code]

[2021-01-25 09:55] gianpieropa commented on #90
Risolto

[2021-01-25 09:57] pat1 commented on #90
credo dipenda da un aggiornamento del pacchetto wreport

[2021-01-25 10:40] gianpieropa commented on #90
Sisi risolto. Un'altra domanda, ho importato dei dati da test.rmap.cc utilizzando il comando dadb import. I dati vengono correttamente visualizzati in showdata, ma le summary non prendono in considerazione quei dati. Devo configurare qualcosa?
![Schermata del 2021-01-25 11-37-27](https://user-images.githubusercontent.com/68102511/105695005-d8182880-5f01-11eb-9164-31df77056598.png)
![Schermata del

[2021-01-25 11:31] gianpieropa commented on #85
La gestione è fatta come in showdata, c'è un file js chiamato borinud.B.js con una map col seguente formato:
[code]

[2021-01-25 11:32] gianpieropa commented on #85
Provvedo a sistemare il bug nella rappresentazione su grafico

[2021-01-25 13:18] pat1 commented on #90
I summaries sono stati ottimizzati con cache specializzate quindi:
le sorgenti dei dati vengono configurate tramite la variabile BORINUD
dentro BORINUD c'è SOURCES
che a sua volta contiene ad esempio
 "class": "borinud.utils.source.DballeDB",
 "url": dsnreport_fixed,
 "explorer": "/rmap/dballe/report_fixed.json"

explorer è la cache specializzata per i summaries

una possibilità è impostare "explo

[2021-01-25 13:47] gianpieropa commented on #90
Perfetto ha funzionato, grazie mille

[2021-01-25 13:47] #90 closed, assigned to pat1

[2021-01-26 07:58] #85 closed, assigned to gianpieropa

[2021-01-26 07:58] #87 closed, assigned to gianpieropa

[2021-01-26 07:58] #88 closed, assigned to gianpieropa

[2021-01-26 07:58] #89 closed, assigned to fabiodepas

[2021-02-02 20:55] pat1 commented on #86
il problema persiste ad esempio con la pressione

[2021-02-03 08:40] gianpieropa commented on #86
Ho ritentato in locale  e sembra funzionare. Ho provato a comparare i testi del file map-view.js, e quello su test.rmap.cc è diverso da quello attuale, mentre i file html sono quelli dell'ultima versione

[2021-02-03 08:42] pat1 commented on #86
si, scusa, mi sono dimenticato di aggiornare gli static files

[2021-02-03 08:42] #86 closed, assigned to gianpieropa

[2021-02-17 17:38] PasqualiSIMC opened #92 "modifica delle estenzioni temporali nei webservices di RMAP (borinud)"
Quando vengono visualizzati i dati di un’ora (selettore ora x di fianco alla data) nel cluster vengono visualizzati i dati delle x-1:30, x-1:45, x:00, x:15 mentre devono essere visualizzati x-1:15, x-1:30, x-1:45, x:00

[2021-02-17 17:39] PasqualiSIMC opened #93 "Perdita dello zoom"
Quando mi sposto con il cursore dei minuti (in basso nella mappa) perdo lo zoom impostato

[2021-02-17 17:40] PasqualiSIMC opened #94 "Perdita dello zoom 2"
Si perde lo zoom nel passaggio da constant station data a data e viceversa

[2021-02-17 17:40] PasqualiSIMC opened #95 "Dem"
non so come caricare il dem

[2021-02-17 17:42] PasqualiSIMC opened #96 "barra dei minuti"
difficile lettura del valore dei minuti scelti con la barra in basso alla mappa

[2021-02-17 17:42] PasqualiSIMC opened #97 "modifica estensione temporale nei Grafici"
l’estensione temporale del grafico dovrebbe essere anche indipendente dall’estensione temporale della mappa

[2021-02-17 17:43] PasqualiSIMC opened #98 "visualizzazione dati costanti di stazione nella legenda del grafico"
sul grafico non è presente il nome/legenda che identifichi le stazioni presenti

[2021-02-17 17:44] PasqualiSIMC opened #99 "Grafici esportazione"
nell’esportazione dell’immagine del grafico non è presente la legenda contenente le informazioni di cosa sto copiando

[2021-02-17 17:44] PasqualiSIMC opened #100 "grafici esportazione 2"
nell’esportazione dell’immagine del grafico non è possibile scegliere il nome dell’immagine

[2021-02-17 17:54] pat1 commented on #95
il DEM ora non è attivo

[2021-02-17 17:54] #95 closed, assigned to nobody

[2021-02-18 08:37] gianpieropa commented on #92
Gli orari in basso vengono creati in base alla richiesta effettuata a borinud, quindi vengono visualizzati tutti gli orari contenuti nella risposta in ordine temporale. Può descrivere meglio il problema?

[2021-02-18 09:04] gianpieropa commented on #97
La ricerca dei dati da visualizzare su grafico e quella su mappa, sono già separate. Si possono selezionare date diverse su mappa e su grafico

[2021-02-18 09:20] gianpieropa commented on #98
La legenda è presente.
![Schermata del 2021-02-18 10-18-57](https://user-images.githubusercontent.com/68102511/108335009-ccebac00-71d2-11eb-87b0-c1fa7c0be066.png)

[2021-02-18 10:37] #93 closed, assigned to nobody

[2021-02-18 10:37] #94 closed, assigned to nobody

[2021-02-18 10:37] #96 closed, assigned to nobody

[2021-02-18 10:37] #100 closed, assigned to nobody

[2021-02-18 10:37] #99 closed, assigned to nobody

[2021-02-18 10:55] gianpieropa opened #102 "Nuova versione disponibile"

[2021-03-02 09:23] pat1 commented on #102
installata

[2021-03-02 09:23] #102 closed, assigned to pat1

[2021-03-11 09:02] virginiapoli opened #103 "Radarconverter - azzeramento precipitazioni"
1) Nel testare il convertitore per la cumulata radar da netcdf a grib (e ritorno) ho verificato che le precipitazioni vengono azzerate (mentre dovrei avere una precipitazione massima pari a 23.75 mm). Allego file originario (comp-ACRR*.nc) e riconvertito (1200_riconvertito.nc)

Perchè la retroconversione sia perfetta, inoltre:
2) nel file riconvertito (da grib a netcdf) la variabile time è definit

[2021-03-15 23:19] virginiapoli commented on #103
Continuo ad aver problemi nella conversione in grib (punto 1). In output nel grib, continuo ad avere valori del campo di precipitazione nulli.
  #-READ ONLY- maximum = 0;
  #-READ ONLY- minimum = 0;
  #-READ ONLY- average = 0;
  #-READ ONLY- numberOfMissing = 1431;
  #-READ ONLY- standardDeviation = 0;
  #-READ ONLY- skewness = 0;
  #-READ ONLY- kurtosis = 0;
  #-READ ONLY- isConstant = 1;
  #-REA

[2021-03-16 16:09] fabiodepas commented on #103
Allego i file convertiti
[file_convertiti.zip](https://github.com/ARPA-SIMC/cosudo/files/6150407/file_convertiti.zip)
nello specifico  vi  era un  bug nel posizionamento dei dati dei grib2  e quasto impediva la visualizzazione su mappa.
Per quanto riguarda i dati mostrati ioconvertendo  il netcdf in grib2 visualizzo:
#-READ ONLY- maximum = 23.7487;
#-READ ONLY- minimum = 0;
#-READ ONLY- average =

[2021-03-16 23:11] virginiapoli commented on #103
I file allegati sono corretti, ma non riesco a riprodurli.
Uso il convertitore da linea di comando (sbaglio qui qualcosa?):
python radar_netcdf2grib.py -i comp-ACRR_202009201200_001H.nc

Ho provato a verificare e prima del "codes_set_values(gaid_template, cum_pr_mm.flatten())" torna tutto.
Dopo, anche rileggendo i valori con un codes_get_values ho che il massimo (diverso dal missing) è 0.

La mia

[2021-03-17 08:15] fabiodepas commented on #103
Il comando è quello giusto, noi in realtà abbiamo testato la  procedura sia  con eccodes versione 2.16 sia con la 2.18,
la versione 2.20 non sembra  abbia  passato la  build e non ci permette di installarla  da copr, stiamo provando a scaricarla a  mano.

[2021-03-17 08:25] brancomat commented on #103
A titolo informativo:
sto lavorando al build di eccodes 2.20 su centos 8 (che richiede una versione di cmake attualmente non disponibile su centos 8) e sarà disponibile direi entro la fine della settimana, se volete risparmiarvi il build manuale.
@virginiapoli: se vogliamo escludere la versione di eccodes dalle variabili puoi testare lo stesso comando su `otto.metarpa` che è una centos 8 con eccod

[2021-03-17 08:33] fabiodepas commented on #103
In realtà se il problema è che nel grib i dati sono azzerati non penso che la #105 risolva questo problema, perchè nel nostro caso i dati del grib  sono  sempre diversi da  0 sia  prima che dopo la #105.
Se si ha la possibilità di testare la  nuova  release su 2.18 io  opterei per questa altimenti proviamoad installare a mano la  2.20.

[2021-03-17 22:40] virginiapoli commented on #103
Su otto.metarpa (centos8, eccodes 2.18, nuova release) lo script muore per "Segmentation fault (core dumped)" nel momento in cui chiama codes_set_values.
Ho provato anche la release precedente e mi dà lo stesso problema.

[2021-03-18 10:12] fabiodepas commented on #103
Abbiamo provato su un'altra macchina (centos8 e centos8-minimal) con eccodes 2.20 e tutto sembra funzionare, ecco  i comandi eseguiti:

[code]
Naturalmente è solo una delle prove che abbiamo  fatto

[2021-03-18 10:22] brancomat commented on #103
La versione dei repository di sistema di pyhon3-eccodes è la 0.9.4-5, riuscite a provare con quella? (senza il `pip3 install`)

Comunque mi attrezzo per integrare in `simc/stable` una versione di python3-eccodes più recente e aggiorno il server `otto` per vedere se cambia qualcosa (come avrete visto ora nei repo centos8 di simc/stable è presente eccodes 2.20)

[2021-03-18 10:39] fabiodepas commented on #103
Il problema è con  la  release pyhon3-eccodes 0.9.4-5 quella consiglita da noi è la 1.0.0 perchè a partire dalla 0.9.9 il  "Segmentation fault (core dumped)" è stato risolto. Non dovesse essere possibile aggiornare la versione su copr cerchiamo un'altra strada.

[2021-03-18 11:46] brancomat commented on #103
Ok, ho aggiornato il repo `simc/stable` e `otto.metarpa` a:
`eccodes-2.20.0-1.el8.x86_64`
`python3-eccodes-1.1.0-1.el8.x86_64`

lo script ora non segfaulta più, l'ho testato sia su CentOS 8 che su una Fedora 32 aggiornata alle stesse versioni di eccodes e python3-eccodes, un dump del grib risultante mi dice:
[code]
Passo però la palla a @virginiapoli per una conferma definitiva.

[2021-03-18 11:48] fabiodepas commented on #103
Ok perfetto, confermo, grazie mille, attendiamo news.

[2021-03-18 17:18] virginiapoli commented on #103
Dopo gli aggiornamenti sono riuscita a riprodurre i campi corretti.
Ho rieseguito il test passando da netcdf a grib e ritorno.
Al di là di alcune piccole discrepanze sulle cifre decimali delle variabili, che credo siano dovute fisicamente alla rappresentazione dei float nella macchina, **i valori di mesh_dim (che mi pare vengano ricalcolati) vengono troncati:
ORIGINALE:
 mesh_dim = 0.01264954, 0.0

[2021-03-19 08:13] fabiodepas commented on #103
Confermo  che il valore è inserito senza arrotondamento e poi viene arrotondato automaticamente  in fase di scrittura nel  file.
Chiudo questa  issue se  dovessero esserci altri errori relativi lo  stesso  topic possiamo riaprirla.
Grazie mille

[2021-03-19 08:13] #103 closed, assigned to fabiodepas

[2021-04-28 09:42] pat1 opened #106 "skinnywms abortisce con ValueError: time data '2021-04-26T*:00:00' does not match format '%Y-%m-%dT%H:%M:%S'"
[code]

[2021-04-28 10:07] pat1 opened #107 "eliminare Us States dall'elenco livelli visualizzabili"

[2021-04-28 10:11] pat1 opened #108 "i canali del satellite non sono visualizzabili separatamente"
i dati del satellite sono visualizzati nell'elenco dei livelli visualizzabili tutti come "scaled radiance"

[2021-04-28 10:24] pat1 opened #109 "la barra di navigazione nel tempo risulta di difficile utilizzo"
mancando di frecce per l'incremento quando i passi nel tempo risultano di pochi minuti è estremamente difficile da utilizzare.
Da discutere la possibilità di navigare a passi di una ora.
Quando è posizionata su * quali layer del WMS sono visualizzati ?

[2021-04-28 10:25] pat1 opened #110 "predisporre per l'estrazione dati radar e satellite da arkimet"
a breve saranno disponibili i dati radar e satellite su arkimet quindi si può implementare la loro estrazione.

[2021-04-28 10:34] pat1 opened #111 "copia url: non copia protocollo e hostname"
la copia della url per estrazione dati è monca

[2021-04-28 10:53] dcesari commented on #106
Non so se è rilvante ai fini dell'errore, ma i messaggi `Unknown stepType=[13] timeRangeIndicator=[13]` si silenziano installando il pacchetto eccodes-simc (sono particolarità dei grib del modello cosmo).

[2021-04-28 11:40] pat1 commented on #106
ho installato il pacchetto eccodes-simc, grazie del suggerimento, ma non è rilevante ai fini dell'errore

[2021-04-28 14:06] gianpieropa commented on #109
Allora quando la barra è posizionata su asterisco dovrebbe utilizzare l'orario impostato nella ricerca (quello nella barra in alto a sinistra). Se anche quello è impostato su * non dovrebbe effettuare la richiesta. Al momento la effettua e anche #106 dipende da quello.
Provvedo ad inserire un controllo sull'orario nella ricerca.
Per l'utilizzo della barra del tempo al momento vengono caricati tutt

[2021-04-28 15:00] gianpieropa commented on #108
Potresti inviarmi un file che non sia scaled radiance, perché quelli che abbiamo utilizzato noi hanno tutti all'interno come parametro "Scaled radiance"
Da grib dump di questo [file](https://github.com/ARPA-SIMC/qc_sample_data/blob/master/satellite/grib/MSG4_VIS006_20200223_1100.grib) :
`name = Scaled radiance;`

[2021-04-28 15:05] gianpieropa commented on #107
risolto in https://github.com/gianpieropa/skinnywms/commit/b2ea811a914cdb49ff0e97d2e68388f28a02bb7d

[2021-04-28 15:05] #107 closed, assigned to gianpieropa

[2021-04-28 15:25] gianpieropa commented on #111
La copia dell'url dipende dall'url "BORINUD_URL" nei settings, impostandolo ad un url completo  invece che "/borinud/...", anche nella copia sarà completo. Potreste risolvere in questo modo o altrimenti se lo ritenete necessario implemento un controllo che verifichi se sia presente o meno il  protocollo e il domino.

[2021-04-28 15:27] gianpieropa commented on #110
Dovrebbe già essere funzionante dalla pagina "/dynamic/extract-grib/". Avete riscontrato problemi?

[2021-04-28 17:16] pat1 commented on #110
i dati non erano disponibili in arkimet quindi a tendina i dataset non sono selezionabili (infatti questo non è un bug)
Appena disponibili dettaglierò qui il dataset e la query da effettuare

[2021-04-28 17:43] pat1 commented on #108
il contenuto dei grib non si distingue solo dal campo "name".
Nel dataset di test di prova sono già presenti differenti canali:
https://github.com/ARPA-SIMC/qc_sample_data/tree/master/satellite/grib

questo dice che è un prodotto da satellite
productDefinitionTemplateNumber = 31 [Satellite product (grib2/tables/4/4.0.table) ]

e questo campo dice la lunghezza d'onda centrale del canale
[code]
se l

[2021-04-28 18:34] pat1 opened #112 "mapserver error: Projection library error. proj error"
Seguendo le istruzioni di installazione
alla richiesta:

http://test.rmap.cc/wms/mapserver/wms?service=WMS&request=GetCapabilities

ottengo:

msProcessProjection(): Projection library error. proj error "no arguments in initialization list" for "init=EPSG:3857"

[2021-04-29 07:52] gianpieropa commented on #108
dovrei aver risolto in https://github.com/gianpieropa/skinnywms/commit/6d0a2266dc08ce5673ce6d4908dc163706c12c05

[2021-04-29 12:53] fabiodepas commented on #112
La versione di proj-devel è maggiore uguale di 5.2.0?

[2021-04-29 15:13] pat1 commented on #111
a parte che potrebbe essere un href in nuova finestra io nei template uso {{site.domain}}
del tipo :
<a href="//{{site.domain}}/insertdata/newstation">{% trans "Register a new station" %}</a>

https://docs.djangoproject.com/en/3.2/ref/contrib/sites/
[code]
non so se è un suggerimento utile

[2021-04-29 15:24] gianpieropa commented on #111
Si certo era per non utilizzare un'ennesima variabile globale dato che la funzione di copia è relativa ad un file js. Provvederò ad effettuare il fix. Per il comportamento indicatemi voi cosa preferite se una nuova finestra o semplicemente la copia dell'url.

[2021-05-03 07:26] #111 closed, assigned to gianpieropa

[2021-05-03 07:28] gianpieropa commented on #111
Ho risolto aggiungendo dominio e protocollo, se ci sono cambiamenti da effettuare per il comportamento della copia dell'url, riaprite tranquillamente l'issue.

[2021-05-06 09:12] pat1 commented on #112
rpm -q proj
proj-6.3.2-4.el8.x86_64
E' quella di default come da specifiche per Centos 8
http://osgeo-org.1560.x6.nabble.com/Projection-library-error-td5409817.html

[2021-05-07 14:48] fabiodepas commented on #112
Abbiamo eseguito alcuni  test, sembra sia dovuto a proj-devel, oltre proj è installato anche proj-devel?

[2021-05-10 09:22] pat1 commented on #112
installato proj-devel, stesso errore

[2021-05-11 09:11] fabiodepas commented on #112
Stiamo effettuando i test su diverse macchine, su centos 8 minimal e base non da problemi,  su doker stiamo riscontrando solo che non vuole saperne di trovare (da solo, se loinstalliamo a  mano  funziona) il pacchetto "libarchive" ed anche su altre varianti.
Il problema in realtà sembra essere che mapserver non trova la cartella di proj, difatti una soluzione potrebbe essere linkarla a mano nel MA

[2021-05-11 10:24] pat1 commented on #112
Io utilizzo:

rpm -qi mapserver
Name        : mapserver
Version     : 7.2.2
Release     : 2.git7fe9b2b.el8
Architecture: x86_64
Install Date: mer 02 dic 2020 10:42:49 CET
Group       : Unspecified
Size        : 255073
License     : BSD
Signature   : RSA/SHA1, mar 16 giu 2020 12:39:39 CEST, Key ID a9137d5448628f8d
Source RPM  : mapserver-7.2.2-2.git7fe9b2b.el8.src.rpm
Build Date  : mar 16 giu 2020

[2021-05-11 11:03] pat1 commented on #112
Nelle istruzioni viene richiesto di fare:
[code]
mkdir /tmp/ms_tmp/ non può funzionare in quanto rimossa a ogni reboot
delle altre bisognerebbe capire a cosa servono per trovare la giusta collocazione e dove è possibile modificarne i path se necessario; aggiungere dei root path non è generalmente concesso su un server correttamente gestiti

[2021-05-11 11:04] pat1 commented on #112
ho generato il pacchetto di mapserver alla versione 7.6.3, ma nulla pare essere cambiato
[code]

[2021-05-11 13:02] fabiodepas commented on #112
Potremmo avere  lo spec  file utilizzato? perchè la 7.6.3 non è quella del nostro spec, noi utilizziamo la 7.6.1.

Per quanto riguarda le directory "tmp" e "ms_tmp"  devono  essere accessibili dal web service (così come le cartelle  "data")

Come descritto in [https://mapserver.org/introduction.html#introduction-to-the-mapfile](https://mapserver.org/introduction.html#introduction-to-the-mapfile)

[2021-05-11 13:25] pat1 commented on #112
ho impostato correttamente le directory di lavoro e qui allego lo spec.
[mapserver.zip](https://github.com/ARPA-SIMC/cosudo/files/6459435/mapserver.zip)

[2021-05-11 14:01] fabiodepas commented on #112
Il file "/usr/share/proj/proj.db" è presente? E' un  file SQLite e contiene le proiezioni, dovremmo controllare se contiene EPSG:3857, se  lo passate possiamo anche controllarlo  noi.
In caso EPSG:3857 non sia presente nel file, questo va sostituito con un file che la contiene.
In caso il file non sia presente bisogna individuare il  path d'installazione ed impostarlo manualmente nel mapfile con
`

[2021-05-11 14:53] pat1 commented on #112
[code]
ed è quello ditribuito in Centos 8
[code]
map.map contiene:
[code]

[2021-05-11 15:58] fabiodepas commented on #112
Un test che  potrebbe essere utile per verificare  se è proj il problema, è quello di utilizzare proj esternamente, ad esempio con python, abbiamo installato pyproj==2.6  e dato i seguenti comandi:

[code]

Nel nostro caso funzioni  correttamente stampa le info della proiezione:
[code]
Altrimenti potrebbe davvero essere un problema di permessi, dato che le uniche soluzioni che abbiaamo trovato rig

[2021-05-11 15:59] dcesari commented on #112
Forse questo [thread](http://osgeo-org.1560.x6.nabble.com/PROJ-Creating-projection-not-from-full-init-string-td5482194.html) che termina nelle fiamme può spiegare qualcosa?

Ne capisco il giustio, ma paiono esserci differenze concettuali tra le varie versioni di proj.

[2021-05-11 16:10] pat1 commented on #112
[code]
[code]

[2021-05-11 16:28] pat1 commented on #112
@dcesari il problema sicuramente nasce dal cambio di API della versione 6 di proj, ma mapserver dovrebbe essere in grado di gestirle addirittura in modo automatico dalla versione 6.nonmiricordoquale.
In più il parametro di configurazione CONFIG "PROJ_LIB" "/usr/share/proj/" dovrebbe esplicitare dove trovare le definizioni di proj.
Mi pare che qui il problema sia più su "trova le differenze" visto

[2021-05-12 07:06] fabiodepas commented on #112
Si, per noi la call sarebbe meglio di pomeiggio se possibile, ci proponete voi delle date?

[2021-05-13 08:49] gianpieropa opened #114 "Configurazione layer mapserver"
Questa è la configurazione per lo stile del layer:
[code]

[2021-05-17 07:40] gianpieropa opened #117 "Error: Login invalid/expired. Please visit https://copr.fedorainfracloud.org/api to get or renew your API token."
Sto avendo problemi a pubblicare la nuova build, durante l'esecuzione travis fallisce con il seguente errore

[2021-05-17 08:07] edigiacomo commented on #117
Ho aggiornato il token. Inoltre, ho tolto il vincolo del deploy solo su tag, in modo che lo invii a Copr ad ogni commit: quest'ultimo scarica la versione indicata nello spec (https://github.com/ARPA-SIMC/cosudo/blob/v2/django-dynamic-map-borinud/django-dynamic-map-borinud.spec#L13). Quindi, fino a che la versione nello spec rimane uguale, ripacchettizza sempre la medesima versione (d'ora in poi la

[2021-05-17 08:07] #117 closed, assigned to pat1

[2021-05-18 06:38] pat1 commented on #112
c'era un errore di maiuscole/minuscole in map.map

[2021-05-18 06:38] #112 closed, assigned to gianpieropa, fabiodepas

[2021-05-18 09:18] pat1 commented on #109
mi pare chiusa

[2021-05-18 09:18] #109 closed, assigned to PasqualiSIMC, gianpieropa

[2021-05-21 13:32] PasqualiSIMC opened #118 "sincronizzazione grafici e vista mappa"
quando passo dalla vista mappa ai grafici perdo completamente l'informazione temporale di partenza

[2021-05-21 13:34] PasqualiSIMC commented on #98
manca il nome stazione e il network di appartenenza

[2021-05-21 13:42] PasqualiSIMC commented on #97
Intendevamo dire che il grafico deve poter visualizzare più giorni contemporaneamente

[2021-05-21 13:51] PasqualiSIMC commented on #92
una volta scelto un orario, con il selettore, vogliamo poter scorrere tra i dati con timerange suborario che concorrono al calcolo del valore orario corrispondente, ad esempio se abbiamo scelto di guardare i dati delle ore 12, dobbiamo poter scorrere tutti i dati suborari dalle 11:01 fino alle 12:00. Il timestamp di un dato coincide con l'ultimo istante del suo periodo di validità

[2021-05-21 13:54] PasqualiSIMC commented on #114
Il colore bianco (255 255 255) risulta trasparente, lo vorremmo bianco opaco

[2021-05-21 14:00] PasqualiSIMC opened #119 "specifiche grafiche per visualizzazione dati da satellite"
il satellite ora è visualizzato per isolinee, lo vorremmo come shaded contour (toni di grigio), ritagliato sull'Italia.

[2021-05-21 14:12] PasqualiSIMC opened #120 "Visualizzazione dati costanti di stazione (lon station name) nella vista relativa ai dati"
quando si scorre con il mouse su un valore di stazione (non clasterizzato) vorremmo vedere nel pop-up il nome della stazione e il suo stazid

[2021-05-21 14:14] PasqualiSIMC opened #121 "dati costanti di stazione: selezione per "long station name""
E' possibile ricercare una stazione sulla mappa a partire da un nome e/o stazid?

[2021-05-21 14:18] PasqualiSIMC opened #122 "Visualizzazione dati costanti stazione insieme ai dati (riscaldamento pluviometro insieme a precipitazioni)"
Vorremmo fosse possibile, con la variabile precipitazione, visualizzare quali stazioni hanno il pluviometro riscaldato con una simbologia specifica direttamente sulla mappa dati. Questa informazione è un'attributo di anagrafica di stazione

[2021-05-21 14:22] PasqualiSIMC opened #123 "disattivare clasterizzazione a richiesta dell'utente"
Vorremmo poter attivare o disattivare la clasterizzazione sopratutto nel caso si stia visualizzando un singolo timerange

[2021-05-21 14:37] PasqualiSIMC opened #124 "Lentezza caricamento dati osservati"
Abbiamo provato a caricare i dati di tutta italia di precipitazione di un giorno intero e cosudo ci ha messo 5 minuti di orologio.

[2021-05-24 07:28] gianpieropa commented on #98
Il network dovrebbe essere presente, per esempio nell'immagine sopra è "dpcn-bolzanoboze". Il nome stazione non dovrebbe essere l'ident?

[2021-05-24 08:23] gianpieropa commented on #92
Dipende sempre da borinud, come già discusso, che restituisce da una mezz'ora precedente ad una mezz'ora successiva all'orario selezionato. Potrei eliminare i dati facendo un controllo su ogni dato ma ciò causerebbe un  rallentamento ulteriore del sistema in presenza di molti dati. Ditemi voi come volete che proceda

[2021-05-24 09:04] PasqualiSIMC commented on #98
L'ident è l'utente che si è registrato, il nome di stazione è solitamente
la località dove la stazione è posta: Parma, Sant'Agata Bolognese,
Marzaglia etc

Andrea Pasquali
ARPAE - SIMC
Viale Silvani, 6
CAP 40122 BOLOGNA
ITALIA
Tel. +39-0516497566
Cell. +39-3314009732
E-mail a ***@***.******@***.***
web site www.arpae.it/sim

Il giorno lun 24 mag 2021 alle ore 09:29 gianpieropa <
***@***.***> ha sc

[2021-05-24 12:24] gianpieropa commented on #98
Non credo sia presente come informazione all'interno delle risposte di borinud, chiedo conferma a @pat1

[2021-05-25 08:33] gianpieropa commented on #121
Gli unici dati presenti riguardo le stazioni sono i seguenti
[code]
Si potrebbe effettuare una ricerca su questi dati

[2021-05-25 08:37] gianpieropa commented on #118
è una funzionalità voluta, le due ricerche sono completamente separate. Una volta effettuata la ricerca su mappa se la si vuole su grafico bisogna effettuarla nella sezione grafico

[2021-05-25 08:54] pat1 commented on #124
a me ci mette 2 minuti per recuperare migliaia di stazioni offline; dopo averlo fatto una volta i dati rimangono in cache per 15 minuti.
Come dicevo il problema non è risolvibile con le tecnologie attuali e non è significativo dei tempi di utilizzo operativi che vede un set di dati molto limitato non offline.
Consiglio di usare un PC del pola e una connessione di rete veloce e portare pazienza vis

[2021-05-25 08:54] #124 closed, assigned to pat1

[2021-05-25 08:58] pat1 commented on #123
non mi è chiaro cosa si vede disattivando la clusterizzazione quando si hanno vari valori nello stesso punto e che senso ha la richiesta. Già prima della modifica in caso di un solo valore nel punto il cluster era disabilitato.

[2021-05-25 09:05] gianpieropa commented on #120
Posso far visualizzare l'ident ma non il nome stazione, perché non è presente come informazione all'interno dei dati

[2021-05-25 09:06] pat1 commented on #121
lo stazid non esiste quindi non è possibile cercare una cosa che non esiste.
il nome stazione è un dato costante di stazione ed è visibile nella vista "constant station data" come "LONG STATION OR SITE NAME"
Come sia possibile mettere in relazione le due viste "dati" e "dati costanti di stazione" non mi è chiarissimo.
In relazione con #22

[2021-05-25 09:14] pat1 commented on #119
Le specifiche grafiche di skinny sono quelle di Magics; fatto il settaggio di default richiesto da @PasqualiSIMC vorremmo capire come è possibile, tramite una semplice documentazione, personalizzare successivamente il rendering grafico di skinny.

[2021-05-25 09:17] #108 closed, assigned to gianpieropa

[2021-05-25 09:21] pat1 commented on #98
la richiesta è in relazione a #120 #121 e #122
Gli utenti chiedono di avere le informazioni della "vista" "costant station data" insieme alla vista "dati".
Non so come sia realizzabile.

[2021-05-25 09:29] gianpieropa commented on #98
Le uniche cose che mettono in relazione i dati con le stazioni credo siano solo l'ident e la latitudine/longitudine, non so se siano abbastanza come informazioni per collegarli. E anche se fossero sufficienti ci sarebbe una riduzione delle prestazioni molto evidente, in quanto bisognerebbe richiedere tutte le stazioni, tutti i dati costanti, collegare questi in un oggetto e per ogni dato provenien

[2021-05-25 09:30] pat1 commented on #97
riusciamo a chiarire questa issue ?
Io il problema lo vedo così:
nella sezione grafici una volta aggiunti dati al grafico non è più possibile modificare gli estremi temporali dei dati aggiunti.
Ogni gruppo di dati aggiunti ha un estremo temporale indipendente.
Questa potrebbe essere considerata un feature, ma di fatto non lo è.
Quello che è utile è decidere quali dati avere nel grafico (indipenden

[2021-05-25 09:33] pat1 commented on #59
funziona il tutto ?
si può chiudere la issue ?

[2021-05-25 09:34] pat1 commented on #53
è stata messa la dipendenza ?

[2021-05-25 09:35] pat1 commented on #119
in relazione con #3

[2021-05-25 09:45] pat1 commented on #98
il collegamento avviene tramite ident lat lon e network.
Bisognerebbe provare quanto è pesante una richiesta ajax a costant station data solo per una singola  ident lat lon e network
attivata su richiesta dell'utente.
Mi pare abbastanza prestante:
https://test.rmap.cc/borinud/api/v1/dbajson/-/1101250,4447409/fidu/*/*/B01019/stationdata?dsn=report_fixed
e ottengo il nome stazione

[2021-05-25 10:25] gianpieropa commented on #53
Sisi

[2021-05-25 10:25] #53 closed, assigned to gianpieropa, fabiodepas

[2021-05-25 11:01] gianpieropa commented on #59
Si

[2021-05-25 11:01] #59 closed, assigned to fabiodepas

[2021-05-25 11:11] pat1 commented on #106
credo sia risolta ?

[2021-05-25 11:20] pat1 commented on #121
ho cambiato il nome a questa issue perchè non è chiaro in quale vista e richiesto inserire il filtro.
Assegnato a @PasqualiSIMC per chiarire questo aspetto

[2021-05-25 11:48] pat1 commented on #92
le estensioni temporali dei webservices di RMAP non sono specifiche di COSUDO
apro una issue su RMAP
https://github.com/r-map/rmap/issues/346

bisogna valutare cosa sia più opportuno. Faccio un esempio:
* nel controllo di qualità automatico che è su base oraria le temperature delle ore 11.30- 12.30 sono riferite alle ore 12
* le piogge essendo cumulate si riferiscono al periodo precedente la data

[2021-05-25 12:51] gianpieropa commented on #97
Quindi credo sia risolvibile aggiungendo invece che la ricerca per singola data la ricerca con range temporale, utilizzando le estensioni delle API di borinud (daymax,daymin ecc...) e separandola dalla selezione delle variabili (bcode, timerange, level..). Quindi in questo modo bisognerebbe effettuare due step per visualizzare il grafico: il primo step è l'aggiunta delle variabili al grafico (l'in

[2021-05-25 12:54] gianpieropa commented on #106
SIsi

[2021-05-25 12:54] #106 closed, assigned to gianpieropa

[2021-05-25 12:59] gianpieropa commented on #92
Per le timeseries, quindi la vista grafico, posso implementare tranquillamente le estensioni delle api, mentre per le spatialseries (vista mappa) non credo siano disponibili le estensioni delle api (yearmin, yearmax ecc...)

[2021-05-25 13:08] gianpieropa commented on #98
Si potremmo procedere in questo modo e quindi con un bottone al click dell'utente richiedere le informazioni  delle stazioni e visualizzarle. Ditemi se va bene e procedo

[2021-05-25 14:00] gianpieropa commented on #114
Ora dovrebbe essere corretto, riaprite l'issue in caso contrario
[code]

[2021-05-25 14:00] #114 closed, assigned to gianpieropa

[2021-05-25 15:12] pat1 commented on #92
esatto @giampiropa, nelle spazial series le espensioni sono solo di tipo geografico.
Dobbiamo ragionarci un attimo prima di intraprendere una strada
Riassegno a ARPAE la questione.

[2021-05-25 15:52] gianpieropa commented on #119
Potremmo avere un'immagine di esempio dello stile richiesto? O conoscete il nome dello stile in eccharts?

[2021-05-25 17:26] pat1 commented on #92
credo ci sia un bug in borinud che porta a una schizzofrenia tra spatialseries e timeseries
Pare che che borinud timeseries chiedendo i dati delle ore 12 restituisca i dati dalle 12:00:00 alle 12:59:59
mentre nelle spatialseries chiedendo i dati delle ore 12 restituisca i dati dalle 11:30:00 alle 12:29:59
Avete altri elementi che provino comportamenti differenti ?

[2021-05-25 19:13] pat1 commented on #92
ho standardizzato il comportamento di borinud
https://github.com/r-map/rmap/issues/346

è da verificare il comportamento e da chiudere la issue
assegno a @PasqualiSIMC

[2021-05-25 19:19] pat1 commented on #92
le estensioni nelle query a borinud sono in realtà valide sia per le spatialseries che timeseries
rimangono i vicoli di specificare fino al giorno per le query spaziali mentre le estensioni geografiche non sono utilizzate nelle timeseries in quanto inutili

[2021-05-25 22:15] pat1 commented on #124
ho risolto alcuni problemi e attuato alcuni trucchi per rendere più veloce il tutto simulando più o meno la situazione che sarà operativa

[2021-05-26 08:13] PasqualiSIMC commented on #123
Quello che si vede dipende dal timerange scelto e dal fatto che si stia guardando una singola ora o un giorno intero. Per questo la richiesta è di poter disattivare a richiesta

[2021-05-26 08:17] PasqualiSIMC commented on #121
Quando si passa con il mouse su un dato nella visualizzazione spaziale compare l'ora a cui si riferisce, la richiesta è che assieme all'ora compaia il nome stazione

[2021-05-26 08:26] PasqualiSIMC commented on #118
Allora manca lo strumento con cui passare dalla visualizzazione spaziale a quella temporale fissando una stazione sulla mappa

[2021-05-26 08:29] PasqualiSIMC commented on #98
Si per me va bene

[2021-05-26 08:35] gianpieropa commented on #118
Per aggiungere una stazione con la relativa variabile (bcode, trange,level) al grafico basta cliccare sul bottone "add to graph" mostrato nell'immagine, dopo aver cliccato su un dato:
![Schermata del 2021-05-26 10-31-16](https://user-images.githubusercontent.com/68102511/119628932-d86ff400-be0d-11eb-8123-536ca40d0c76.png)

[2021-05-26 08:37] PasqualiSIMC commented on #97
Con riferimento all'issue #118 se la vista grafici e la vista mappa non hanno nessun punto di contatto allora si può procedere come dice Giampiero, rimane l'assenza di uno strumento che a partire dalla visualizzazione spaziale, fissato un punto, generi la vista temporale. Se vediamo la vista temporale (grafici) in quest'ultimo modo, allora bcode, timerange ,level etc. vengono ereditati dalla mappa

[2021-05-26 08:45] gianpieropa commented on #97
Come indicato nella #118 il punto di contatto è il bottone "add to graph" presente nel popup del dato. Al momento tale bottone aggiunge al grafico una ricerca con anche la data, ma data la modifica che apporterò per avere un range temporale con le variabili separate, il nuovo funzionamento risulterà in un'aggiunta di solo le variabili (bcode, timerange ,level, network, lat lon). In questo modo dov

[2021-05-26 08:48] PasqualiSIMC commented on #92
Se seleziono la precipitazione cumulata sull'ora e scelgo un'ora specifica  (le 8), ora borinud restituisce i dati delle 08:00, 08:15, 08:30, 08:45 e non i dati che concorrono a quell'ora: 07:15, 07:30, 07:45, 08:00

[2021-05-26 09:51] pat1 commented on #123
non capisco: il cluster appare quando nello stesso punto ci sono più dati; in questo caso le label andrebbero una sopra l'altra e il dato visualizzato alla fine sarebbe uno a caso dei tanti. Se non siamo in questa condizione il cluster non viene utilizzato.
Quale soluzione proponi per visualizzare 10 dati nello stesso punto ?

[2021-05-26 11:47] pat1 commented on #92
esatto restituisce i dati con quell'ora come ora di verifica sia per le timeseries che per le spatialseries. Cosudo chiede i dati a borunud che li chiede a dballe e arkimet; le API di dballe e arkimet soddispano la richiesta con quella data e ora

[2021-05-26 15:48] gianpieropa commented on #97
Sto procedendo ad effettuare il push spiego qui in breve come funziona la vista grafico:
Dalla parte a sinistra (quella di ricerca) si aggiungono le variabili che saranno visualizzate nella tabella a sinistra in basso. L'orario della barra di ricerca serve solamente a controllare quali combinazioni sono esistenti. Una volta aggiunte le variabili, a destra abbiamo il selettore del range temporale c

[2021-05-27 06:58] #97 closed, assigned to gianpieropa

[2021-05-27 06:58] #98 closed, assigned to pat1, PasqualiSIMC, gianpieropa

[2021-05-27 06:58] #118 closed, assigned to PasqualiSIMC

[2021-05-27 12:55] PasqualiSIMC commented on #92
Da un punto di vista del controllo di qualità è sbagliato. Se guardo il dato delle 8 devo poter veder i dati e solo quelli che hanno contribuito al calcolo del dato delle 8

[2021-05-27 13:11] PasqualiSIMC opened #127 "Simbologia grafico"
Nei grafici vorremmo eliminare il pallino verde sulla linea in corrispondenza di ogni dato. Come vengono visualizzati  i dati mancanti?

[2021-05-27 13:19] gianpieropa commented on #127
In caso di invalidazione appare un pallino rosso, se non è invalidato appare il pallino verde. Vorreste vedere il pallino rosso in caso di invalidazione e il pallino del colore del dataset nel caso contrario ?

[2021-05-27 13:32] PasqualiSIMC commented on #98
Vorremmo il nome e l'id stazione elencati nella legenda senza dover cliccare, in automatico con la visualizzazione del grafico. Capiamo che attualmente non è facile ottenerlo

[2021-05-27 13:35] PasqualiSIMC commented on #127
Si vorremmo cosi, inoltre vorremmo sapere cosa succede nel grafico se manca uno o più dati (non dati invalidati, parlo di dati assenti), grazie

[2021-05-27 13:42] pat1 commented on #92
sai che non capisco: cosa vuole dire "contribuito al calcolo del dato delle 8" ?
il controllo di qualità automatico procede a step orari per la temperatura "centrandosi" sull'ora "esatta" ossia ad esempio idati dalle 11.30 alle 12.30 vengono confrontati con il clima delle ore 12.

Su cosudo guardi i dati e vedo le flag inserite dal controllo automatico, volendo visualizzando i dati di un giorno o

[2021-05-27 13:43] PasqualiSIMC commented on #123
la clasterizzazione si attiva anche per vicinanza geografica, non solo per presenza di più dati della stessa stazione, se per esempio  sto visualizzando dati giornalieri (timerange 86400) che senso ha la clasterizzazione? Stessa cosa se sto visualizzando dati con timerange 3600 e non voglio vedere i dati al quarto d'ora, il claster non mi serve, vedi per esempio la visualizzazione di https://simc.

[2021-05-27 13:48] pat1 commented on #123
il cluster si attiva qualdo le label andrebbero una sopra l'altra non permettendo di leggere la label sotto (ordine casuale) se questa sovrapposizione non c'è, non c'è il cluster ma solo la label; esiste un parametro di tuning per decidere la distanza minima su cui attivare il cluster. Direi che quello che chiedi è già implementato in modo automatico.

[2021-05-27 13:53] gianpieropa commented on #127
Allo stato attuale non vengono visualizzati i dati mancanti su grafico

[2021-05-28 07:40] pat1 commented on #98
ripeto che l'id stazione NON esiste